@charset "utf-8";
/* CSS Document */

body {
	background-color: aquamarine;
}

p {
	color:blue;
}

div {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    color: red;
}
